@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    background-color: #f6f7fb;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    margin-bottom: 30px;
    position: relative;
}

.progress-container::before {
    content: "";
    position: absolute;
    background: #e0e0e0;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
    transform: translateY(-50%);
}

.progress {
    position: absolute;
    background: #3498db;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: 4s ease;
}

.circle {
    color: #999;
    background: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: 3s ease;
}

.circle.active {
    border-color: #3498db;
}

.btn {
    background-color: #3498db;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 8px 30px;
    margin: 5px;
    font-family: inherit;
    cursor: pointer;
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}
.btn:disabled {
    background-color: #e0e0e0;
}
